.wrapper {
  margin: 8em auto;
  width: 500px;
}
.hide {
display: none;
}
button.btn {
  list-style: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  margin: 0;
  touch-action: manipulation;
  user-select: none;
  -webkit-appearance: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 8px 15px;
  background-color: #3a3a3a;
  color: #fff;
  font-family: Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 13px;
  display: block;
  width: 100%;
  line-height: 1.4;
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal;
  margin-top: 0;
  margin-bottom: 10px;
  min-height: 44px;
}
.icon.icon-spinner {
  list-style: none;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  user-select: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-family: Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 13px;
  line-height: 1.4;
  white-space: normal;
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
  animation: spin 500ms infinite linear;
  overflow: hidden;
}
.price-item {
  padding-top: 3em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  line-height: 2rem;
  text-transform: none;
  letter-spacing: normal;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
  list-style: none;
  font-size: 3em;
  box-sizing: border-box;
  color: #333232;
  font-weight: 700;
}
